name: Daily Telegram Notify

on:
    schedule:
        - cron: '10 15 * * *'
    workflow_dispatch: {}

jobs:
    run-bot:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.10'

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Create secrets.json from ENV
              env:
                  TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
                  TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
                  EXCHANGERATE_API_KEY: ${{ secrets.EXCHANGERATE_API_KEY }}
                  OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
                  NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
              run: |
                  cat > secrets.json <<EOF
                  {
                    "telegram_bot_token": "${TELEGRAM_BOT_TOKEN}",
                    "telegram_chat_id": "${TELEGRAM_CHAT_ID}",
                    "openweather_api_key": "${OPENWEATHER_API_KEY}",
                    "exchangerate_access_key": "${EXCHANGERATE_API_KEY}",
                    "news_api_key": "${NEWS_API_KEY}"
                  }
                  EOF

            - name: Run bot
              run: |
                  echo "OPENWEATHER_API_KEY=$OPENWEATHER_API_KEY"
                  python src/main.py
